@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;;
}

.navbar {
    background-color: white !important;
    border-bottom: 2px solid black;
}

#logo {
    font-family: 'Pacifico', sans-serif;
}

#logo:hover {
    text-shadow: 12px 6px 5px #09439a;
}

.section {
    padding: 8rem 2rem;
}

.icons {
    width: 20px !important;
    border: 1px solid white;
    border-radius: 100%;
}

.btn {
    border: 1px solid white !important;
    color: white;
    border-radius: 0px;
}

/** Presentation Styles **/
#presentation-title {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: 2rem;
    margin: 0 auto;
    border-right: 0.15em solid #18bdec;
    font-family: "Courier New";
    animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
}

#social-media a {
    text-decoration: none;
}

.social-media-icons {
    width: 20px !important;
    opacity: 0.8;
}

.social-media-icons:hover {
    opacity: 1;
}

/** Profile **/
#resume {
    background-color: #0d1117;
    color: white;
    clip-path: polygon(100% 0, 100% 90%, 0% 100%, 0% 10%);
}

#profile-img {
    width: 50% !important;
    border-radius: 100%;
}

#profile-img:hover {
    cursor: pointer;
    box-shadow: 1px 1px 20px 10px black;
    border: 1px solid white;
}

#profile-description {
    transform: translateY(10%);
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;
}

#pills-tab li button {
    color: white !important;
}

#experience-list a,
#education-list a{
    background-color: transparent;
    color: white;
}

#experience-list small,
#education-list small {
    color: white !important;
}

/*:where(#experience-list, #education-list) :where(a, small) {
    color: white !important;
    background-color: transparent !important;
}*/

.skill-row {
    padding: 0.1rem 0;
}

.children-row {
    padding: 0.1rem 0;
}

.show-more-skills,
.show-less-skills {
    cursor: pointer;
}

.show-less-skills {
    display: none;
}

.subskills {
    display: none;
}

.progress {
    height: 10px;
}

/** Portfolio */

#portfolio {
    text-align: center;
}

.overlay-container {
    width: 20%;
    height: 50%;
    float: left;
    margin: 1rem;
    clip-path: polygon(100% 0, 80% 100%, 0% 100%, 20% 0%);
    border: 1px solid black;
}

.overlay-container:hover {
    z-index: 1px;
    transform: translateY(-10%);
}

.img-projects {
    border: 0px solid transparent !important;
    width: 100%;
    height: 100%;
    border-radius: 0% !important;
}

.overlay {
    position: relative;
    bottom: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    padding: 5rem;
    text-align: center;
    border-radius: 0% !important;
    font-size: 10px;
}

.overlay a {
    text-decoration: none;
    color: white;
}

.overlay:hover {
    opacity: 1;
    cursor: pointer;
}

/** Contact Me **/
#contact {
    background-color: #10162f;
    color: white;
}

#contact ul {
    list-style: none;
}

#contact-form {
    color: black;
}

#message-input {
    height: 100px;
}

/** Footer **/
#footer {
    background-color: black;
    color: white;
    padding: 2rem;
}

.footer-icon {
    width: 20px;
    border: 1px solid white;
    border-radius: 100%;
    opacity: 0.5;
}

.footer-icon:hover {
    opacity: 1;
}

/** Errors **/
.errors {
    color: red;
}

.input-errors {
    border-color: red;
}

/** functions **/
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

/** mobile */
@media (max-width: 992px) {
    #presentation-title {
        font-size: 19px;
    }

    .overlay-container {
        width: 20%;
        float: left;
    }
}