#skills {
    display: flex;
    flex-wrap: wrap;
}

.skill-pills {
    background-color: #e0e0e0;
    border-radius: 8px;
    padding: 4px 8px;
    font-size: 0.8rem;
    margin-right: 6px;
    color: var(--color-skills);
}