.nav-link {
    color: var(--color-text);
}

.nav-link.active,
.nav-link:hover {
    border-bottom: 2px solid var(--color-border-bottom) !important;
    background-color: transparent !important;
    color: var(--color-text) !important;
}

.list-group-item {
    background-color: var(--color-bg) !important;
    color: var(--color-text) !important;
}

.text-body-secondary {
    
}